body {
    font-family: Lato;
    width: 100%;
    position: absolute;
    margin: 0px;
}
/* */
/* Navbar start */
.Pahc-logo {
    max-width: 100px;
    float: left;
    position: relative;
    top: 5px;
    left: 50px;
}

#Topbar-static {
    width: 100%;
}
#title {
    font-size: -webkit-xxx-large;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: 5px;
}
.nav-item {
    display: -webkit-inline-box;
    font-size: large;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    left: calc(50% - (700px / 2));
    color: #FFF
}

.Navbar-sticky {
    background-color: aquamarine;
    padding: 10px;
    height:22px;
    width: 100%;
}
.Navbar-sticky-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}
/* Navbar end */

/* Event Start */
.events {
    max-height: 500px;
    text-align: center;
    position: relative;
    left: calc(50% - (700px / 2));
    top: calc(50% - (500px / 2));
}
.banner{
    position: relative; 
    overflow: auto; 
    margin: 0 auto;
    width: 800px;
    height: 400px;
    padding: 0px;
}

.banner ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.banner li { 
    padding: 0px;
    margin: 0px;
    float: left;
    height: 400px;
    width: 800px;
     }

.banner ul li img{
    padding: 0px;
    margin: 0px;
}
/* Event end */

/* About start */


#Mission-statement-section {
    padding: 100px;
    padding-bottom: 200px
}
#Mission-statement-header {
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}
#Missions-statement {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: x-large;
    font-weight: 300;
}
.Core-pic {
    border-radius: 50%;
    max-height: 125px;
    float: left;
    display: inline-block;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;
    top: calc(50% - (150px / 2));
    left: calc(50% - (1200px / 2));
}
#Core-section {
    height: 600px;
    background-color: aquamarine;
}
.Core-container {
    height: 150px;
    margin: 30px;
}
/* About end */

/* Programs start*/
#Programs-section {
    background-color: salmon;
}
.white {
    color: #FFF;
}
.carousel-container {
    width: 1000px;
    top: calc(50% - (500px / 2));
    left: calc(50% - (960px / 2));
    height: 500px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

#carousel {
    width: 4800px;
    height: 500px;
    margin-left: 0px;
    -webkit-transition: all 0.3s;
}

.carousel-item {
    width: 500px;
    background-color: #FFF;
    position: relative;
    height: 450px;
    float: left;
    margin: 20px;
    box-shadow: 1px 1px 15px #B73325;
}
.img-scaled {
    width: 100%;
    height: 100%;
}

.img-scaled-wh {
    width: 100%;
    height: 100%;
    position: relative;
}
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 75%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 75%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}
.Program-title {
    text-align: -webkit-center;
    margin: 20px;
    font-weight: bold;
}
.Program-description {
    margin: 50px;
    text-align: -webkit-center;
    font-weight: 300;
}
/* Programs end */

/* Contact start */
.contact-card {
    float: left;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 20px;

}
.social-media {
    max-height: 50px;
    margin: 20px;
}
#contact-content {
    height: 100px;
}
.info {
    padding: 20px
    font-size: larger;
    font-weight: 300;
}
/* Contact end */